* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

#button-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  margin: 2em auto;
  margin-top: 20px;
  padding: 1em;
}

.button {
  background-color: #101010;
  border: 1px solid #151515;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75em;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 100%;
  max-width: 250px;
}

.button:hover {
  transform: scale(1.05);
}

.button img {
  border-radius: 20px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.button-text {
  margin-top: 1em;
  text-align: center;
  color: #dfdfdf;
}

.button-text h2 {
  font-size: 1.25em;
  margin: 0;
}

.button-text p {
  font-size: 0.8125em;
  margin: 0;
}

.title {
  color: #bfbfbf;
  margin-top: 100px;
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  text-align: center;
}

#sort {
  height: 20px;
  border-radius: 90px;
}